.header {
    margin: 0 auto 20px auto;
    background-color: lightseagreen;
    border-radius: 10px;
    align-items: center;
    max-width: 1400px;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    padding:10px 20px 10px 20px;
    font-size: 24px;
}
.workArea {
    padding:10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
}

.svgIcon {
    margin-top: 2px;
    font-size: 18px;
}
.svgIcon:hover{
    cursor:pointer;
    transform: scale(1.2);
}
.customSelect {
 position: relative;
 width: 250px;
 cursor: pointer;
}

.selectButton {
    width: 100%;
    cursor: pointer;
    padding: 8px;
    text-align: center;
    border:1px solid black ;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}
.selectButton:hover {
    transform: scale(1.03);
}

.options {
background-color: rgb(114, 250, 198);
border: 10px;
padding: 15px;
height: 300px;
overflow-y: scroll;
position: absolute;
top:110%;
left: 0;
width: 100%;
border-radius: 5px;
}


.options::-webkit-scrollbar {
    width: 0;
}

.formInput {
margin-right: 20px;
padding: 4px;
border-radius: 5px;
}

.formInput:hover {
    transform: scale(1.04);
}
.formButton {
padding: 4px;
width: 100px;
background-color: rgb(165, 247, 149);
border-radius: 6px;
}

.formButton:hover {
    transform: scale(1.05);
}

