.item {
    padding: 8px;
    font-size: 18px;

    border: 1px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.svgIcon {
    cursor: pointer;
}
.itemWrapper {
    position: relative;
    margin: 10px 0;
}
.itemWrapper:hover{
    transform: scale(1.03);
}
 
