.dropdown {
    width: 100%;
    top: 100%;
    left: 0;
    padding: 5px;
    background-color: rgb(173, 230, 197);

}

.reductInput {
    display: block;
    width: 100%;
    font-size: 18px;
    margin: 10px 0 12px 0;
    padding: 5px;

}

.colorInput {
    border: none;
    width: 25px;
    cursor: pointer;
    display: block;
    background-color: transparent;
}

.optionsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.saveButton {
    display: block;
    width: 40px;
    background-color:rgb(73, 206, 73);
    cursor:pointer;
    margin-right: 5px;
    padding: 5px;
}

.buttonWrapper {
    display: flex;
}

.deleteButton {
    background-color: red;
    padding: 5px;
    cursor: pointer;
}