.dropdown {
    width: 100%;
    top: 100%;
    left: 0;
    padding: 5px;
    background-color: rgb(173, 230, 197);

}

.reductInput {
    display: block;
    width: 100%;
    font-size: 18px;
    margin-bottom: 12px;

}

.colorInput {
    border: none;
    width: 25px;
    cursor: pointer;
    display: block;
    background-color: transparent;
}

.optionsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.saveButton {
    border: none;
    display: block;
    width: 40px;
    background-color:lightgreen;
    cursor:pointer;
}