
.mainWrapper {
max-width: 1400px;
margin: 0 auto;
 height: calc(100% - 120px) ;
 background-color: rgb(131, 157, 206);
 border-radius: 15px;
}

.todoWrapper:hover {
 transform: scale(1.06);
 transition: 0.2s;
}
.todosContainer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: max-content;
    gap: 20px;
    padding: 1.6rem;
}

.todoWrapper {
    background-color: rgb(255, 255, 255);
    border-top: 6px solid;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.iconContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 20px ;
}

.title {
    font-size: 22px;
    margin: 10px 0 20px 0;
    font-weight: 600;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
}
.text {
    font-size: 18px;
    margin: 5px 0 35px 0;
}

.input {
    height: 25px;
}

.reductWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0 28px 0;
}

.icon {
    font-size: 18px;
    border: none;
    color: green;
    background-color: transparent;
}
.todoIcons {
    color: rgb(163, 163, 161);
}

.todoIcons:hover {
    transform: scale(1.1);
    color: rgb(82, 82, 81);
}